[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rocketchat-api = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
